 <section class="splash">
<div class="splash-img">
    <%= image_tag('dai.png')%>
</div>
<div class="actions">
 <%= link_to 'LOG IN', user_session_path, class: 'btn'%>
<%= link_to 'SIGN UP', new_user_registration_path, class: 'btn'%>
</div>
</section>